<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rss_feed">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <!-- Other configurations -->

        <!-- Intent filter for handling HTTP/HTTPS URLs -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
    
</manifest>
